*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
/* header */
#header{
    padding: 30px 0;
}
.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;     
}
.nav-links a {
margin: 0 30px;
color: #3D3D3F;
font-size: 16px;
font-weight: 500;
transition: 0.5s;
}
.nav-links a:hover {
   color:#F35F2F;
}
.header button{
    padding: 12px 24px;
border-radius: 5px;
opacity: 0.85;
background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));
color: #FFF;
font-size: 14px;
font-weight: 500;
}
/* header */
/* smart */
#smart{
    padding: 120px 0;
}
.smart{
    display: flex;
    justify-content: space-between;
}
.smart-left h1{
color: var(--Primary, #3D3D3F);
font-size: 72px;
font-weight: 600;
}
.smart-left p{
color: var(--Primary, #3D3D3F);
font-size: 20px;
font-weight: 400;
margin: 40px 0;
}
.smart-left button{
 border-radius: 5px;
opacity: 0.85;
background: var(--Gd-color, linear-gradient(3deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%));   
color: #FFF;
font-size: 20px;
font-weight: 400;
padding: 14PX 28PX;
}
.smart-left{
    justify-self: start;
}
/* smart */ 

/* text */
.text-nav h1  { 
    color: var(--Primary, #3D3D3F);
    font-size: 40px;
    font-weight: 700;
}
.blok{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* text */







